.Products {
    width: 50%;
    position: relative;
    background-color: white;
    border-radius: 4px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 30px;

    
    .Products-headers {
        background-color: #232f3e;
        height: 70px;
        color: white;
        display: grid;
        text-align: center;
        grid-template-columns: repeat(4,1fr);
        align-items: center;
    }

    .Products-options {
      height: 60px;
      padding: 12px;
      button {
        float: left;
        margin-top: 12px;
      }

      .Products-filters {
        display: block;
        float: right;
        .Products-search {
          margin-right: 10px;
        }
      }

    }

      .ui-inputtext {
          font-size: 18px;
          height: 40px;
      }

}

#loader {
  position: fixed;
  top: 47%;
  left: 47%;
  border: 18px solid #dfe8fc;
  border-radius: 50%;
  border-top: 18px solid #673ab7;
  width: 120px;
  height: 120px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}